@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: #ecf2f8;
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vh 5%;
  gap: 2rem;
}
.testimonial-section {
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.testimonial-section-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimonial-section-head__text {
  line-height: 1.25;
}
.testimonial-section-head__text-name {
  font-weight: 600;
}
.testimonial-section-head__text-position {
  font-weight: 500;
  opacity: 50%;
}
.testimonial-section-head img {
  border-radius: 50%;
}
.testimonial-section:nth-of-type(1) {
  background-color: #7541c8;
  color: #ffffff;
  background-image: url("https://raw.githubusercontent.com/easaber/testimonialGrid/6575b3d555217b79ba98f20fe88c891e3e492f64/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 100px;
}
.testimonial-section:nth-of-type(2) {
  background-color: #48556a;
  color: #ffffff;
}
.testimonial-section:nth-of-type(4) {
  background-color: #19212e;
  color: #ffffff;
}

.quote-head {
  font-weight: 600;
  font-size: 15px;
  padding: 1rem 0;
}
.quote-body {
  opacity: 70%;
}

.attribution {
  text-align: center;
  margin-top: 5rem;
}

@media (min-width: 780px) {
  .testimonial {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonial-section:nth-of-type(1) {
    grid-column: 1/3;
  }
  .testimonial-section:nth-of-type(5) {
    grid-row: 1/3;
    grid-column: 4;
  }
  .testimonial-section:nth-of-type(4) {
    grid-row: 2;
    grid-column: 2/4;
  }
}